{% extends "base.html" %}

{% block head %}
<link 
  rel="stylesheet" 
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
>
{% endblock %}


{% block content %}

<div 
  class="content-section mt-4" 
  id="race_info" 
  data-race_id="{{data.race_id}}" 
  data-group_id="{{data.group_id}}" 
  data-race_number="{{data.race_number}}" 
  data-races_count="{{data.races_count}}" 
  data-gender="{{data.race.gender}}"
  data-is_jv="{{data.race.is_jv}}"
  data-name="{{data.race.name}}" 
  data-prev_race_id="{{data.prev_race_id}}" 
  data-next_race_id="{{data.next_race_id}}"
>
  <!-- number of races dropdown, disappears once number has been selected -->
  {% if not data.group_id %}
  <form class="mb-4">
    <div class="form-group">
      <label class="h6" for="races_count-select">
        How many separate races will be run?
      </label>
      <select class="form-control" id="races_count-select">
        <option selected disabled>Select number of races</option>
        {% for n in range(8) %}
        <option data-races_count="{{n+1}}">{{n+1}}</option>
        {% endfor %}
      </select>
    </div>
  </form>

  <!-- race number x out of y area -->
  {% else %}
  <legend class="h3 border-bottom mb-4">
    Setting up Race {{data.race_number}} of {{data.races_count}}
  </legend>

  <!-- gender select -->
  <form class="mb-4">
    <div class="form-group">
      <label class="h5" for="gender-select">
        Is this race for girls, boys or both?
      </label>
      <select class="form-control" id="gender-select">
        {% if not data.race.gender %}
        <option selected disabled>Select gender</option>
        {% endif %}
        {% for g in data.gender_list %}
        <option data-gender="{{g.lower()}}">{{g}}</option>
        {% endfor %}
      </select>
      <small class="muted" style="padding-left:4px;">
        NOTE: Choose "Combined" if boys and girls are running at the same time. 
        Girls and boys will still be scored separately.
      </small>
    </div>
  </form>
  {% endif %}

  <!-- is_jv selection -->
  {% if data.race.gender %}
  <form class="mb-4">
    <div class="form-group">
      <label class="h5" for="is_jv-select">
        Is this race Varsity or JV?
      </label>
      <select class="form-control" id="is_jv-select">
        {% for g in data.varsity_jv_list %}
        <option data-is_jv="{{g.lower()}}">{{g}}</option>
        {% endfor %}
      </select>
      <small class="muted" style="padding-left:4px;">
        NOTE: Choose "Varsity" if both Varsity and JV are running at the same 
        time. Upon completion of race, there will be an option to score JV 
        separately.
      </small>
    </div>
  </form>

  <!-- participating teams selection -->
  <form class="mb-5">
    <h5>Select participating teams:</h5>
    <div class="container mt-2">
      {% for t in data.potential_teams %}
      <div class="form-group row my-1">
        <div class="form-check">
          <input 
            class="form-check-input" 
            type="checkbox" 
            {% if t in data.selected_teams %} checked {% endif %} 
            data-team_id="{{t.id}}" 
            data-school="{{t.school.short_name}}" 
            id="{{t.id}}"
          >
          <label class="form-check-label" for="{{t.id}}">
            {{t.school.long_name}} - {{t.gender[0]|upper}}{{t.gender[1:]}}
          </label>
        </div>
      </div>
      {% endfor %}
    </div>
  </form>

  <!-- participating runner selection area -->
  {% for t in data.race.teams %}
  <div 
    class="team-container" 
    data-team_id="{{t.id}}" 
    data-team_gender="{{t.gender}}" 
    data-school_id="{{t.school.id}}"
  >

    <!-- team name -->
    <div 
      class="row" 
      style="margin-left:0px; margin-bottom:0px; padding-bottom:3px;"
    >
      <h5 class="mb-0">
        {{t.school.long_name}} - {{t.gender[0]|upper}}{{t.gender[1:]}}
        <a 
          href="" 
          data-toggle="tooltip" 
          data-placement="top" 
          title="Click on runner(s) and move with buttons below"
        >
          <i class="material-icons">info</i>
        </a>
      </h5>
    </div>

    <!-- titles for each column -->
    <div class="row mt-0">
      <div class="col">
        <label for="non-participating-runners-select">
          Runners NOT Participating
        </label>
      </div>
      <div class="col">
        <label for="participating-runners-select">
          Participating Runners
          <small 
            class="muted" 
            style="margin-left:6px;"
          >
            (Need to <a class="edit-runner-link" href="#">edit team roster</a>?)
          </small>
        </label>
      </div>
    </div>


    <div class="row">

      <!-- non-participating runners box -->
      <div class="col">
        <form>
          <div class="form-group">
            <select 
              multiple size="15" 
              class="form-control" 
              id="{{t.id}}_non-participating-runners-select"
            >
              {% for r in data.non_participants %}
              {% if r in t.runners %}
              <option value="{{r.id}}">{{r.first_name}} {{r.last_name}}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </form>
      </div>

      <!-- participating runners area -->
      <div class="col">
        <form>
          <div class="form-group">
            <select 
              multiple size="15" 
              class="form-control participating-runners-select-box" 
              id="{{t.id}}_participating-runners-select"
            >
              {% for r in data.participants %}
              {% if r in t.runners %}
              <option value="{{r.id}}">{{r.first_name}} {{r.last_name}}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </form>
      </div>
    </div>

    <!-- move runners to/from participating buttons -->
    <div class="row mb-4">
      <div class="col text-center">
        <div class="form-group">
          <button 
            type="button" 
            class="btn btn-outline-primary left" 
            id="left"
          >
            <
          </button>
          <button 
            type="button" 
            class="btn btn-outline-primary right" 
            id="right"
          >
             >
          </button>
          <button 
            type="button" 
            class="btn btn-outline-primary leftall" 
            id="leftall"
          >
            <<
          </button>
          <button 
            type="button" 
            class="btn btn-outline-primary rightall" 
            id="rightall"
          >
             >>
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- race name input box and button -->
  <div class="form-group mb-5" style="display: flex; align-items: center;">
    <label class="h5" for="race-name-input" style="white-space: nowrap;">
      Race Name:
    </label>
    <input 
      class="form-control" 
      id="race-name-input" 
      value="{{data.race_name}}" 
      style="margin-left: 10px; margin-right: 20px;"
    >
    <button 
      id="update-name-button" 
      class="btn btn-primary" 
      style="white-space: nowrap;"
    >
      Update Name
    </button>
  </div>

  <!-- previous and next page buttons -->
  <div class="container mb-3" id="btns-ctr">
    <div class="row" id="btns-row">
      <div class="col-6" id="left-btn">
        <button 
          type="button" 
          class="btn btn-primary text-left" 
          onclick="previousPage();" 
          id="race-setup-btn"
        >
          << Previous Page
        </button>
      </div>
      <div class="col-6 text-right" id="right-btn">
        <button 
          type="button" 
          class="btn btn-primary" 
          id="race-setup-btn" 
          onclick="finishRaceSetup();"
        >
          Next Page >>
        </button>
      </div>
    </div>
  </div>

  {% endif %}



</div>

<script src="/static/js/race_detail.js"></script>

{% endblock %}
